.color-square {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 2px;
}

.statistics-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.chart-container {
    width: 15rem;
}

@media (max-width: 768px) {
    .statistics-container {
        flex-direction: column;
    }
}